<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VueJs practice</title>
    <link href="styles.css" rel="stylesheet" />
    <!-- <script src="https://unpkg.com/vue"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="vue-app">
<greetings></greetings>
      <!-- today work -->
  
      <!-- today work -->

        <!-- <div id="bag" v-bind:class="{ burst: ended }"> </div>
        <div id="bag-health">
            <div id="bg-health-inside" v-bind:style="{ width: health + '%' }"></div>
        </div>
      

        <div id="controls">
            <button v-on:click="punch" v-show="!ended">Punch</button>
            <button v-on:click="restart">ReStart</button>
        </div>
        <h4>{{health}}</h4> -->
        <!-- <ul>
            <li v-for=" list in Myarrays ">{{list}}</li>
          </ul>
      <h1>title: {{title}}</h1>

      <h3>{{name}}</h3> -->

      <!-- <p>{{greet('VisNext software Solution')}}</p>
      <button v-on:click="increase">INCREASE</button>
      <button v-on:click="decrease">DECREASE</button>
      <button v-on:click="AddBy20">AddBy20</button>
      <button v-on:click="SubtractBy20">SubtractBy20</button>
      <h3>{{count}}</h3>
      <h1>Conditionals</h1>
      <button v-on:click="error = !error">Toggle error</button>
      <button v-on:click="success = !success">Toggle success</button> -->
   
      <!-- <p v-show="error" class="error">There has been an error</p>
      <p v-show="success" class="success">Whooo, success :)</p> -->
      <!-- <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
<label for="jack">Jack</label>
<input type="checkbox" id="john" value="John" v-model="checkedNames">
<label for="john">John</label>
<input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
<label for="mike">Mike</label>
<br>
<span>Checked names: {{ checkedNames }}</span> -->
      
    </div>
    <div id="vue-app1">
      <greetings></greetings>
      </div>
    <!-- <div id="vue-app1">

        <h3>{{ greet() }}</h3>
        <button v-on:click="changed">Changed Name</button>
    </div> -->
    <script src="comp.js"></script>
    <!-- <script src="app.js"></script> -->
  </body>
</html>
